* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: #ffffffff;
  --bg-mobile: url(./assets/bg-mobile.jpg);
  --strock-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.1);
  --surface-color-hover: rgba(181, 178, 178, 0.5);
  --highlight-color: rgba(255, 255, 255, 0.2);
  --switch-br-url: url(./assets/MoonStars.svg);
}

.light {
  --text-color: black;
  --bg-mobile: url(./assets/bg-mobile-light.jpg);
  --strock-color: rgba(0, 0, 0, 0.5);
  --surface-color: rgba(255, 255, 255, 0.1);
  --surface-color-hover: rgba(0, 0, 0, 0.1);
  --highlight-color: rgba(0, 0, 0, 0.1);
  --switch-br-url: url(./assets/Sun.svg);
}

body {
  /*Um maneira de escrever
  background-image: url(./assets/bg-mobile.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;*/

  /*Outra maneira de escrever porém de modo mais enxuto seria
    
    background: color image, repeat position/size*/

  background: var(--bg-mobile) no-repeat top center/cover;
}

body * {
  font-family: "Inter", sans-serif;
  color: var(--text-color);
}

#container {
  width: 360px;
  margin: 40px auto 0px;
  padding: 0 24px;
}
/*Propriedades de algumas tags em html
 div= display é block (usa toda a largura da tela e joga os elementros próximos para baixo
 img = display é inline e com isso margin= auto não funciona, pode-se transformar o display
 para block e aí sim vai funcionar. Posso também pegar o pai da img e usar a propriedade
 text-align e aí mover essa tag pra onde quiser (center, right ou left)*/

/*profile*/
#profile {
  text-align: center;
  padding: 10px;
}

#profile img {
  width: 110px;
}

#profile p {
  font-weight: 600;
  line-height: 24px;
  margin-top: 3px;
}

/*switch*/
#switch {
  position: relative;
  width: 64px;
  margin: 4px auto;
}

#switch button {
  width: 32px;
  height: 32px;
  border: 0;
  border-radius: 50%;
  background: white var(--switch-br-url) no-repeat center;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  left: 0;
}

#switch span {
  display: block;
  width: 64px;
  height: 24px;
  background: var(--surface-color);
  border: 1px solid var(--strock-color);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 999px;
}

.light #switch button {
  right: 0;
  left: initial;
}

/*lista*/

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 0;
}

ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 19px;

  background: var(--surface-color);
  border: 1px solid var(--strock-color);
  border-radius: 8px;
  backdrop-filter: blur (4px);
  -webkit-backdrop-filter: blur(4px);
  text-decoration: none;
  font-weight: 400;

  transition: background-color 0.9s;
}

ul li a:hover {
  background-color: var(--surface-color-hover);
  border: 1.5px solid var(--text-color);
}

#social-links {
  display: flex;
  justify-content: center;

  padding: 1px 0;

  font-size: 22px;
  transition: background-color 0.2s;
}

#social-links a {
  display: flex;
  justify-content: center;
  border-radius: 50%;
  padding: 16px;
}

#social-links a:hover {
  background: var(--highlight-color);
}

footer {
  display: flex;
  padding: 56px;
  font-size: 14px;
  justify-content: center;
}
